@media (max-width: 569px) {
  .hidden-scrollable {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  #legalitas {
    .row {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      & {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }

  #home {
    .carousel-item {
      &.bg-slider-profile img {
        width: 100% !important;
      }
      &.resize-height-mobile {
        img {
          height: 50vh !important;
        }
      }
    }
  }
}
