@use 'mixins';
@media (max-width: 767px) {
 
  #home {
    height: 100vh;
    background-image: url(../image/slider/slider-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
    background-position-x: 25%;
    /* background-position-y: -0px; */
  }
  .hamburger-menu {
    display: flex !important;
  }
  ul.menu {
    transition: 0.5s ease;
    opacity: 0;
    justify-content: space-around !important;
    &.show-menu {
      opacity: 1;
      height: 60vh;
    }
    width: 100% !important;
    flex-direction: column;
    height: 0;

    overflow: hidden;
    a {
      color: black !important;
    }
  }
}
