@use 'mixins';
@media (max-width: 767px) {
  .hamburger-menu {
    display: flex !important;
  }
  ul.menu {
    transition: 0.5s ease;
    opacity: 0;
    justify-content: space-around !important;
    &.show-menu {
      opacity: 1;
      height: 60vh;
    }
    width: 100% !important;
    flex-direction: column;
    height: 0;

    overflow: hidden;
    a {
      color: black !important;
    }
  }

  #home .carousel-item.profile-slider {
    .text {
      background-image: url(../image/slider/slider-profile.jpeg);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 100vh;

      .name {
        font-size: 30px;
      }
      .text-typed {
        font-size: 18px;
      }
      .quot {
        font-size: 18px;
      }
    }
  }
}
